button {
    padding: 8px 20px;
    transition: ease-in-out 0.2s;


}
img {
width: 10px;
}


button:hover{
    transform: scale(1.1);
   
    img {
    
    transform: rotate(45deg);
   
}
}

button:active{
    transform: scale(0.95);
}

